<%- include('partials/header') %>
<link rel="stylesheet" href="css/style.css">
</head>

  <body class="flexSystem text-center">
    <main class="form-signin">
      <img class="" src="images/myLogo.png" alt="" width="200">
      <h1 class="mb-4 fw-normal">Mysterious Project</h1>
      <hr>
      </div>
      <a class="btn btn-lg btn-dark" href="/login" role="button">Login</a>
      <a class="btn btn-lg btn-light" href="/register" role="button">Register</a>
      <p class="mt-5 mb-3 text-muted">Nikola Lukic &copy; 2021</p>
    </main>


<%- include('partials/footer') %>